.square-row {
    display: grid;
    grid-template-columns: 1.2fr 1fr 2.3fr 0.5fr;
    gap: 1rem;
    align-items: start;
    width: 100%;
}

.square-row-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.square-row-field:last-child {
    align-items: center;
    justify-content: center;
}

.square-row-value {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--color-text-black);
}

.square-row-input {
    width: 100%;
}

.square-row-input .input-field {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: start;
    padding: 8px;
    border-radius: 0.25rem;
}

.square-row-minimum {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: start;
    color: var(--color-gray-800);
    margin-top: 4px;
}

.square-row-remove {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--color-gray-700);
    cursor: pointer;
    padding: 0.5rem;
    line-height: 1;
    transition: color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.square-row-remove:hover {
    color: var(--color-danger-500);
}
