.step-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.step-header {
    gap: 1rem;
}

.step-content {
    display: flex;
    flex-direction: column !important;
    gap: 1rem;
    width: 100%;
}

.campaign-name-input-section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.campaign-name-input {
    width: 50%;
}

.campaign-name-input .input-wrapper.has-prefix .input-field {
    padding-left: 1.5rem !important;
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--color-text-gray-700);
}

.currency-symbol {
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-black);
    display: inline-block;
}

.step-actions {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.save-continue-button {
    min-width: 150px;
    font-family: var(--font-ubuntu) !important;
    border-radius: 0.25rem;
    font-size: 14px;
    font-weight: 500;
}
