.success-notification {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem;
    background-color: var(--color-success-50);
    border-radius: 0.25rem;
    width: 75%;
}

.success-notification-text {
    font-family: var(--font-ubuntu);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--color-success-500);
    flex: 1;
}

.error-notification {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem;
    background-color: var(--color-danger-50);
    border-radius: 0.25rem;
    width: 100%;
}

.error-notification-text {
    font-family: var(--font-ubuntu);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--color-danger-500);
    flex: 1;
}
